In [4]:
import pandas as pd
data = pd.read_csv("C:\\Users\\HP\\Desktop\\ML_Assignment\\data\\data\\car_evaluation.csv")
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [5]:
data.shape

(1728, 7)

In [6]:
data.outcome.value_counts()

outcome
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [7]:
X = data.iloc[:,:-1]
y = data.outcome
X.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [8]:
from sklearn.preprocessing import LabelEncoder
categorical_columns = ['buying', 'maint', 'lug_boot', 'safety']
for column in categorical_columns:
    le = LabelEncoder()
    X[column] = le.fit_transform(X[column])
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test =train_test_split(X,y,test_size=0.3,random_state=10)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9441233140655106

col_0    acc  good  unacc  vgood
outcome
acc       93     1      8      0
good       8    13      0      0
unacc      3     0    368      0
vgood      6     2      1     16

In [12]:
pip install --upgrade imbalanced-learn scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imbalanced-learn in c:\users\hp\appdata\roaming\python\python311\site-packages (0.12.4)
Requirement already satisfied: scikit-learn in c:\users\hp\appdata\roaming\python\python311\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\appdata\roaming\python\python311\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from imbalanced-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\appdata\roaming\python\python311\site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from imbalanced-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\program files\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330

In [13]:
import imblearn
import sklearn

print(imblearn.__version__)
print(sklearn.__version__)

0.12.4
1.5.2

In [14]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X_train_smote, y_train_smote = smote.fit_resample(X_train.astype('float'),y_train)

In [15]:
model.fit(X_train_smote,y_train_smote)
y_predict_smote = model.predict(X_test)
print(accuracy_score(y_test,y_predict_smote))
pd.crosstab(y_test,y_predict_smote)

0.9325626204238922

col_0    acc  good  unacc  vgood
outcome
acc       88     7      5      2
good       2    19      0      0
unacc     13     1    356      1
vgood      2     2      0     21

In [16]:
from collections import Counter
print("Before SMOTE :" , Counter(y_train))
print("After SMOTE :" , Counter(y_train_smote))

Before SMOTE : Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
After SMOTE : Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})